{% extends "layout.html" %}

{% block title %}
    Buy Stocks
{% endblock %}

{% block main %}
    <h2>Buy Stocks</h2>
    <form action="/buy" method="post">
        <div class="mb-3">
            <input name="symbol" class="form-control mx-auto w-auto" placeholder="Symbol" type="text" required>
        </div>
        <div class="mb-3">
            <input name="shares" class="form-control mx-auto w-auto" placeholder="Shares" type="number" min="1" required>
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}
